.node {
  cursor: pointer;
}

.node circle {
  stroke: none;
  /*fill: #a6cee3;*/
  /*fill-opacity: 0.75;*/
  mix-blend-mode: multiply;
}

.node text {
  /*font-size: 18px;*/
  font-family: 'Roboto Condensed', sans-serif;
}

.link {
  fill: none;
  /*stroke: #1f78b4;*/
  /*stroke-width: 20px;*/
  stroke-linecap: round;
  stroke-opacity: 0.2;
  mix-blend-mode: multiply;
}
